<th:block th:replace="~{/layout/page :: setContent(~{this::content} )}">
	<th:block th:fragment="content">
		<section class="py-5">
			<div class="container px-4 px-lg-5 my-5">
				<div class="row gx-4 gx-lg-5 align-items-center">
					<div class="col-md-6">
						<div class="sketchfab-embed-wrapper">
							<iframe title="CAR LAMBORGHINI AVENTADO" frameborder="0"
								allowfullscreen mozallowfullscreen="true"
								webkitallowfullscreen="true"
								allow="autoplay; fullscreen; xr-spatial-tracking"
								xr-spatial-tracking execution-while-out-of-viewport
								execution-while-not-rendered web-share width="550" height="400"
								src="https://sketchfab.com/models/cabf176c0d834f40abd5e7392602c2a4/embed?autostart=1&dnt=1">
							</iframe>
						</div>
					</div>
					<div class="col-md-6">
						<div class="small mb-1">[[${dto.no}]]</div>
						<h1 class="display-5 fw-bolder">[[${dto.title}]]</h1>
						<div class="fs-4 mb-5">
							<!-- 원래 가격에서 10% 할인된 가격을 표시 -->
							<span class="text-decoration-line-through"
								th:text="'$' + ${#numbers.formatDecimal(dto.price, 1, 'COMMA', 0, 'POINT')} "></span>
							<span
								th:text="'$' + ${#numbers.formatDecimal(dto.price * 0.9, 1, 'COMMA', 0, 'POINT')}"></span>
						</div>
						<div class="square-box">
							<p class="content-text">[[${dto.content}]]</p>
						</div>
						<div class="d-flex">
							<input class="form-control text-center me-3" id="inputQuantity"
								type="num" value="1" style="max-width: 3rem; width: 3rem" /> <input
								class="form-control text-center me-3" id="inputQuantity"
								type="submit" value="BUY" style="width: 4rem" />
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>



	</th:block>
</th:block>